### Import packages and dataset

In [27]:
import pandas as pd
from openpyxl import load_workbook

sheet_names = load_workbook(filename="./data/Expenses.xlsx").sheetnames

read_excel_file = pd.read_excel("./data/Expenses.xlsx", 
                                sheet_name=sheet_names[2:], 
                                usecols=[0,1,2], 
                                header=4, 
                                converters={"Cost (BDT)": lambda x: 0 if pd.isna(x) else x})

df = pd.concat(read_excel_file, ignore_index=True)
df

                      Item Cost (BDT)       Date
0                  Gadgets       30.0 2024-05-31
1                   Snacks       20.0 2024-05-31
2                Breakfast       30.0 2024-05-31
3                   Snacks       40.0 2024-05-31
4                   Snacks       35.0 2024-05-31
..                     ...        ...        ...
695                 Snacks         30 2023-07-18
696              Breakfast         45 2023-07-18
697          Internet Bill        125 2023-07-18
698                 Snacks         10 2023-07-17
699  Live MCQ Subscription       1200 2023-07-10

[700 rows x 3 columns]

### Handling Missing Data