### Import packages and dataset

In [1]:
import pandas as pd
import calendar
import matplotlib.pyplot as plt

pd.options.mode.chained_assignment = None  # default='warn'

from openpyxl import load_workbook

sheet_names = load_workbook(filename="./data/Expenses.xlsx").sheetnames

read_excel_file = pd.read_excel("./data/Expenses.xlsx", 
                                sheet_name=sheet_names[2:], 
                                usecols=[0,1,2], 
                                header=4)

df = pd.concat(read_excel_file, ignore_index=True)
df

                      Item  Cost (BDT)       Date
0                  Gadgets        30.0 2024-05-31
1                   Snacks        20.0 2024-05-31
2                Breakfast        30.0 2024-05-31
3                   Snacks        40.0 2024-05-31
4                   Snacks        35.0 2024-05-31
..                     ...         ...        ...
695                 Snacks        30.0 2023-07-18
696              Breakfast        45.0 2023-07-18
697          Internet Bill       125.0 2023-07-18
698                 Snacks        10.0 2023-07-17
699  Live MCQ Subscription      1200.0 2023-07-10

[700 rows x 3 columns]

### Handling Missing Data & Data cleaning

In [2]:
df["Cost (BDT)"].fillna(0, inplace=True)
df["Item"] = df["Item"].str.strip()
# df.isnull().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Item        700 non-null    object
 1   Cost (BDT)  700 non-null    float64
 2   Date        700 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 16.5+ KB

/tmp/ipykernel_9289/265055982.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Cost (BDT)"].fillna(0, inplace=True)

#### Adding Month, Year column

In [3]:
# https://stackoverflow.com/questions/25146121/extracting-just-month-and-year-separately-from-pandas-datetime-column
# df['year'] = pd.DatetimeIndex(df['ArrivalDate']).year
# df['month'] = pd.DatetimeIndex(df['ArrivalDate']).month
# OR
# df['year'] = df['ArrivalDate'].dt.year
# df['month'] = df['ArrivalDate'].dt.month
# df["Month, Year"] = f"{pd.DatetimeIndex(df['Date']).month},{pd.DatetimeIndex(df['Date']).year}"


# df["Month"] = pd.DatetimeIndex(df['Date']).month 
# df["Year"] = pd.DatetimeIndex(df['Date']).year 
# df["Month, Year"] = [f"{a}, {b}" for a,b in zip(df["Month"], df["Year"])]


# df["Month, Year"] = [f"{a}, {b}" for a,b in zip(df['Date'].dt.month, df['Date'].dt.year)]
df["Month, Year"] = df["Date"].dt.strftime('%B, %Y')
df.tail()

                      Item  Cost (BDT)       Date Month, Year
695                 Snacks        30.0 2023-07-18  July, 2023
696              Breakfast        45.0 2023-07-18  July, 2023
697          Internet Bill       125.0 2023-07-18  July, 2023
698                 Snacks        10.0 2023-07-17  July, 2023
699  Live MCQ Subscription      1200.0 2023-07-10  July, 2023

#### Grouping by Item and Summing their Cost

In [4]:
# rouped_cost = df.groupby(by=["Item"]).sum()
# grouped_cost

#### Plot area

In [5]:
# grouped_cost.plot(kind="bar",figsize=(10, 6))

In [6]:
pivoted_df = df.pivot_table(columns="Month, Year", index="Item", values="Cost (BDT)", aggfunc="sum", sort=False).fillna(0)
pivoted_df

"Month, Year","May, 2024","April, 2024","March, 2024","February, 2024","January, 2024","December, 2023","November, 2023","October, 2023","September, 2023","August, 2023","July, 2023"
Item,,,,,,,,,,,
Gadgets,1568.00,240.0,50.0,825.0,900.00,3709.00,1470.0,29760.0,0.0,740.0,0.0
Snacks,2280.00,2285.0,905.0,1140.0,1880.00,1660.00,880.0,834.0,180.0,905.0,570.0
Breakfast,495.00,180.0,240.0,500.0,0.00,0.00,219.0,268.0,0.0,610.0,430.0
Photocopy,12.00,5.0,7.0,0.0,0.00,0.00,14.0,10.0,0.0,46.0,15.0
Fare,665.00,1125.0,760.0,990.0,140.00,105.00,665.0,90.0,0.0,350.0,200.0
Meal,210.00,285.0,0.0,45.0,0.00,0.00,260.0,90.0,0.0,278.0,167.0
Treat,804.00,0.0,965.0,700.0,0.00,0.00,1167.0,0.0,0.0,663.0,630.0
Toiletries,75.00,280.0,83.0,20.0,0.00,120.00,15.0,95.0,70.0,70.0,80.0
Mobile Recharge,90.00,480.0,380.0,35.0,1037.00,20.00,438.0,642.0,570.0,297.0,0.0
Mess Bill,3225.00,1500.0,2100.0,3700.0,0.00,0.00,0.0,2160.0,0.0,1770.0,1165.0
Fee,0.16,7720.0,0.0,500.0,0.00,930.00,0.0,0.0,670.0,1198.0,0.0
Internet Bill,250.00,0.0,0.0,530.0,0.00,0.00,0.0,125.0,0.0,0.0,125.0
Clothing,730.00,0.0,0.0,1700.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0
Books,250.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,220.0,615.0
Due,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0
Gift Item,0.00,3360.0,0.0,1105.0,740.00,3434.00,480.0,0.0,0.0,250.0,0.0
Donation,0.00,500.0,70.0,0.0,2.21,1000.00,0.0,0.0,0.0,0.0,0.0
Fitra,0.00,350.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0
Iftar,0.00,220.0,919.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0
Medical,0.00,0.0,0.0,1500.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0
Interest Nullifiy,0.00,0.0,0.0,0.0,47.79,0.00,0.0,0.0,0.0,0.0,0.0
Tax,0.00,0.0,0.0,0.0,0.00,4.78,0.0,0.0,0.0,0.0,0.0
Utility Bill,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,50.0,0.0
Balance,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,500.0,0.0
Ticket,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,50.0
Live MCQ Subscription,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,1200.0

In [8]:
pivoted_df.loc["Fare"]

Month, Year
May, 2024           665.0
April, 2024        1125.0
March, 2024         760.0
February, 2024      990.0
January, 2024       140.0
December, 2023      105.0
November, 2023      665.0
October, 2023        90.0
September, 2023       0.0
August, 2023        350.0
July, 2023          200.0
Name: Fare, dtype: float64